
<div class="glass-card p-3 row" id="sobremi">
  <p class="h2">Sobre mí</p>
  <section class="col-12 col-md-4 col-lg-2 align-content-center d-grid justify-content-center">
    <img
    src="images\profile.webp"
    class="rounded-1 img-thumbnail img-fluid"
    [class]="getTheme() ? 'bg-dark' : 'bg-light'"
    alt="Imagen de perfil">
  </section>
  <section class="col-sm-12 col-md-8 col-lg-10 pt-sm-3 d-grid">
    <p>
      ¡Hola! Soy <b>Josué Jair Gil Dolores</b>, pasante de Ingeniería en Computación con pasión por el desarrollo de software. Tengo experiencia en tecnologías como <b>Angular, NodeJS, Django, MongoDB, PostgreSQL, Git y Docker</b>, y disfruto enfrentar desafíos que me permitan aprender y crecer continuamente. Soy una persona empática, disciplinada y con gran capacidad para trabajar en equipo, lo que me ha permitido colaborar eficazmente en proyectos de desarrollo de software. Me motiva encontrar soluciones innovadoras a problemas complejos, y busco oportunidades en empresas dinámicas donde pueda aplicar y expandir mis habilidades en el desarrollo fullstack.
    </p>
  </section>
</div>