<ul class="background">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
<app-header></app-header>
<div
  data-bs-spy="scroll"
  data-bs-target="#navbar"
  data-bs-smooth-scroll="true"
  class="container-fluid gap-4 d-flex flex-column align-items-center mt-5"
  tabindex="0">
  <main class="responsive-main m-auto row gap-5 my-5">
    <app-profile></app-profile>
    <app-experience></app-experience>
    <app-projects></app-projects>
  </main>
</div>
